<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Интересное о кострукторе</title>
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/style.min.css">
</head>
<body>
  <main>
    <h1> </h1>
    <div class="container">
      <section class="advantages">
        <ul class="advantages-list">
          <li class="advantages-item">
            <h3>Lego</h3>
            <p>Самый продаваемый конструктор в мире - это LEGO. Ежегодно компания продает более 36 млрд деталей, что эквивалентно тому, что каждый человек на планете получит 5 LEGO деталей.</p>
          </li>
          <li class="advantages-item">
            <h3>Неожиданная история появления</h3>
            <p>Инженер Александер Грамбелл, изобретатель телефона, был одним из первых, кто начал разрабатывать конструктор. В 1901 году он создал игрушку, состоящую из пластмассовых деталей, которую можно было соединять между собой и создавать различные конструкции.</p>
          </li>
          <li class="advantages-item">
            <h3>Стоит оставаться на чеку</h3>
            <p>Некоторые конструкторы, такие как Магнетикс, используют магниты для соединения элементов. Однако, это было запрещено в большинстве стран из-за опасности, которую магниты представляют для здоровья детей, если они проглотят их.</p>
          </li>
        </ul>
      </section>

      <div class="index-columns">
        <section class="contacts">
            <h2 class="visually-hidden">Изображения товара</h2>
                <img src="static/image/lego.png" alt="Превью-фото" width="430" height="430">
        </section>
    
        <section class="appointment" style="margin-left: 140px;">
          <form class="appointment-form" method="post">
            <h2>Lego</h2>
              <a class="contacts-address">Серии конструктора, представляющие собой наборы деталей для сборки и моделирования разнообразных предметов. Наборы Lego выпускает группа корпораций Lego Group, главный офис которой находится в Дании.</a>
            <a class="button contacts-button-map" href="https://www.lego.com/ru-ru"> Сайт производителя</a>
          </form>
        </section>
      </div>

      <div class="index-columns">
        <section class="contacts">
            <h2 class="visually-hidden">Изображения товара</h2>
                <img src="static/image/magformers.jpg" alt="Превью-фото" width="430" height="430">
        </section>
    
        <section class="appointment" style="margin-left: 140px;">
          <form class="appointment-form" method="post">
            <h2>Magformers</h2>
              <a class="contacts-address">Магнитный конструктор, состоящий из геометрических элементов, соединяющихся между собой посредством встроенных магнитов.</a>
            <a class="button contacts-button-map" href="https://magformers.ru/shop/?yclid=9358725885290872831"> Сайт производителя</a>
          </form>
        </section>
      </div>
    </div>
    </div>

  </main>

  <footer class="main-footer">

    <div class="container">
      <address class="footer-address">
        Команда Лицея 4<br>
        Адрес: ул. Дружбы, 7/2, Оренбург, Оренбургская область, 460052<br>
        <a href="https://liceum4.gosuslugi.ru/">Сайт образовательной организации</a> <br>
        Телефон: <a href="tel:+74956660266">+7 (353) 264-07-87</a>
      </address>

      <div class="footer-copyright">
        <b>Разработано:</b>
        <a class="button" href="https://github.com/NeMoSemi">Nemo_Semi</a>
      </div>
    </div>
  </footer>
</body>

</html>